<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- (1) -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    <title>Try to Break Ale Totti - Team Totti</title>
    <!-- (2) -->
    <script src="./sw.js"></script>
    <!-- (3) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container_nav">
        <div class="navigazione">
            <img class="logo" src="./img/logo.png" width="54px" height="54px;">
            <a class="ancora" onclick="showHideText()">Chi è AleTotti?</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="main_container">
        <div id="container_ale">
            <img id="foto_ale" src="./img/Full_totti.png">
        </div>
        <div id="whoistotti">
            <p id="close_div">
                X
            </p>
            <p id="tottiText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="clearfix"></div>
        <h1>Prossimo Scontro</h1>
        <h1>V <span class="smaller">giorni</span> III <span class="smaller">ore</span> X <span class="smaller">minuti</span></h1>
        <div id="prenotazione_incontro">
            <button id="prenota" onclick="show()">Prenota il tuo incontro</button>
            <div id="animazione">
                <input id="nome_combattente" name="nickname" type="text" placeholder="Nome di battaglia"></input>
                <input id="nome" name="name" type="text" placeholder="Nome"></input>
                <input id="cognome" name="surname" type="text" placeholder="Cognome"></input>
                <div class="clearfix"></div>
                <input id="mail" name="email" type="text" placeholder="E-Mail"></input>
                <button id="invia_richiesta" type="submit">Invia Richiesta</button>
                <p id="request_error_text" class="error"></p>
                <a id="annulla" onclick="hide()">Annulla</a>
            </div>
        </div>
        <hr>
        <!-- (5) -->
        <div id="match_container">
            <div class="animated fadeInDown scontro" v-for="match in matches">
                <h2>Ale Totti <span class="versus">vs</span> <span :class="{striked: match.result==ALEWIN, green: match.result==CHALLENGERWIN}">{{match.challenger}}</span> </h2>
                <h3 class="versus" v-if="match.result == null">Da combattersi il giorno:</h3>
                <h3 class="versus" v-else>Combattuto il giorno:</h3>
                <h3>{{match.date}} <span class="versus">alle ore</span> {{match.time}} </h3>
                <h3>{{match.place}}</h3>
                <img src="./img/Vertical_line.png" width="100px" height="100px" style="margin:20px auto; display:block;">
            </div>
        </div>
        <!-- (6) -->
        <div id="past_matches_button"></div>
        <h4 id="past_matches_label">Mostra incontri passati</h4>
    </div>
    <!-- (7) -->
    <div id="footer">
        <h1 class="footer_text">Copyright 2018 © Team Totti</h1>
    </div>
    <!-- (4) -->
    <script src="./scripts/app.js"></script>
    <script src="./scripts/stylescripts.js"></script>
</body>
<!--
    Space for comments:
(1): This two tags are needed in order to display this page as an app.
     The meta tag tells the browser to lock the page width and height to
     device's screen sizes, this ensures that the page will fit exactly and not
     scroll.
     The link tag simply tells the browser where the manifest file is located in
     the project folder.
(2): This script registers the service worker that will handle this application.
     The service worker is a piece of javascript code that executes in
     background on the browser. It can handle page, resource requests and
     manages the cache.
(3): This script adds the VueJS framework to the app.
(4): This script exposes various functions and objects to retrieve data. See
     that file for more information
(5): Space for all the future and past matches.
     The : before the class attribute tells VueJS that the attribute value is JS
     instead of HTML; in this case we pass in a JS object which has possible
     class values as object properties (e.g. striked, green) each of which has
     a boolean expression that if evaluates true, gives that HTML element that
     class.
(6): Space for the past matches container
(7): Space for footer
-->
</html>
